
# Firebase
.firebase/
firebase-debug.log
.runtimeconfig.json

# Dependencies
/node_modules

# Next.js build output
/.next/
/out/

# Other build artifacts
/build
/dist

# IDE and OS files
.DS_Store
*.pem
